.title {
  font-size: 17px;
  padding: 15px;
  font-weight: bold;
}

.home {
  align-items: center;
  margin-right: 5px;
}

.home-link {
  vertical-align: middle;
  color: rgba(92,102,111,0.6);
}

.home-link:hover {
  opacity: 0.5;
}

.comic-title {
  align-items: center;
  margin-left: 5px;
}

.loading {
  margin: 0 auto;
}
