.wrapper {
  padding: 50px 130px;
}

.form {
  border-radius: 10px;
  border: 2px solid #a9a9a9;
  background-color: #f0f8ff;
}

.react-icon {
  font-size: 24px;
  vertical-align: -6px;
  margin-right: 1px;
}

.form-text {
  margin-left: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.form-text-delete {
  margin-left: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.form-text-back {
  margin-left: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.form-text-submit {
  margin-left: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.form-label {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.form-input {
  border: 2px solid #a9a9a9;
  padding: 12px 0px;
  width: 50%;
  font: inherit;
}

.form-input-image {
  margin-top: 20px;
  margin-bottom: 20px;
  font: inherit;
}

.errors {
  color: red;
  font-weight: bold;
  margin: 10px 0px;
}

.form-submit {
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-size: 15px;
  font-weight: 700;
  padding: 18px 8px;
  background-color: #4682b4;
  color: white;
}

.form-submit:hover {
  opacity: 0.5;
}

.delete-button {
  text-decoration: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
}

.delete-button:hover {
  opacity: 0.5;
}

.delete-button-icon {
  font-size: 22px;
  vertical-align: -5px;
  margin-right: 10px;
}

.fi-send {
  color: white;
  font-size: 16px;
  vertical-align: -3px;
  margin-right: 3px;
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
  .wrapper {
    padding: 50px 50px;
  }

  .form-input {
    padding: 8px 0px;
    width: 70%;
  }

  .form-text {
    margin: 0px;
  }

  .form-text-delete {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: center;
  }

  .form-text-back {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .wrapper {
    padding: 0px;
    font-size: 13px;
  }

  .form {
    margin-top: 30px;
    border: 2px solid #a9a9a9;
    background-color: #f0f8ff;
  }

  .form-label {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
  }

  .form-text {
    margin: 20px;
  }

  .form-text-delete {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: center;
  }

  .form-text-back {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: center;
  }

  .form-input {
    padding: 8px 0px;
    width: 95%;
  }

  .form-text-submit {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .form-submit {
    border-radius: 5px;
    box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
    padding: 12px 8px;
  }

  .react-icon {
    font-size: 20px;
    vertical-align: -4px;
  }
}
