/*DeleteButton*/
.delete-button {
  text-decoration: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
}

.delete-button:hover {
  opacity: 0.5;
}

.delete-button-icon {
  font-size: 22px;
  vertical-align: -5px;
  margin-right: 10px;
}
