.wrapper {
  width: 100%;
}

.title {
  font-size: 17px;
  padding: 15px;
  font-weight: bold;
}

.home {
  align-items: center;
  margin-right: 5px;
}

.home-link {
  vertical-align: middle;
  color: rgba(92,102,111,0.6);
}

.home-link:hover {
  opacity: 0.5;
}

.react-icons {
  vertical-align: -3px;
  margin-right: 3px;
}

.scene-title {
  margin-left: 5px;
}

.section {
  width: 100%;
}

.content {
  margin: 0 auto;
  width: 900px;
  height: 800px;
  border: 2px solid #a9a9a9;
  background-color: white;
  border-radius: 6px;
}

.img {
  margin: 0 auto;
  height: 300px;
  width: 400px;
  border: 0.2px solid gold;
  background-color: aqua;
}

.article {
  padding: 20px;
}

.comic-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.detail-area {
  text-align: center;
  margin-top: 20px;
}

.detail {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.bs-book-fill {
  color: blue;
  font-size: 22px;
  vertical-align: -4px;
  margin-right: 10px;
}

.bs-fill-pencil-fill {
  color: red;
  font-size: 20px;
  vertical-align: -4px;
  margin-right: 7px;
}

.bs-fill-journal-bookmark-fill {
  color: greenyellow;
  font-size: 20px;
  vertical-align: -4px;
  margin-right: 7px;
}

.bs-calender-3 {
  color: palevioletred;
  font-size: 20px;
  vertical-align: -4px;
  margin-right: 7px;
}

.bs-newspaper {
  color: yellow;
  font-size: 20px;
  vertical-align: -4px;
  margin-right: 7px;
}

.back {
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-size: 15px;
  font-weight: 700;
  padding: 18px 8px;
  margin: 15px 0 20px;
  background-color: #a9a9a9;
  color: white;
}

.back:hover {
  opacity: 0.5;
}

.bs-fill-replay-fill {
  font-size: 22px;
  vertical-align: -4px;
  margin-right: 10px;
}
