.wrapper {
  width: 100%;
}

.title {
  font-size: 17px;
  padding: 15px;
  font-weight: bold;
}

.home {
  align-items: center;
  margin-right: 5px;
}

.home-link {
  vertical-align: middle;
  color: rgba(92,102,111,0.6);
}

.home-link:hover {
  opacity: 0.5;
}

.react-icons {
  vertical-align: -3px;
  margin-right: 3px;
}

.comic-title {
  align-items: center;
  margin-left: 5px;
}

.link {
  text-decoration: none;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 20px;
  font-size: 15px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
}

.link:hover {
  background-color: pink;
}

.main-content {
  padding: 40px 90px;
  display: flex;
  flex-wrap: wrap;
}

.content {
  padding: 0px 20px;
}

.innner-content {
  border: 2px solid #a9a9a9;
  background: white;
  margin-bottom: 10px;
}

.outer-image {
  height: 180px;
  width: 100%;
}

.image {
  height: 180px;
  background-color: aqua;
}

.list {
  padding: 15px;
  width: 100%;
}

.list-title {
  text-align: center;
  margin-bottom: 20px;
}

.list-genre {
  text-align: center;
}
