.wrapper {
  width: 100%;
}

.title {
  font-size: 17px;
  padding: 15px;
  font-weight: bold;
}

.home {
  align-items: center;
  margin-right: 5px;
}

.home-link {
  vertical-align: middle;
  color: rgba(92,102,111,0.6);
}

.home-link:hover {
  opacity: 0.5;
}

.comic-title {
  align-items: center;
  margin-left: 5px;
}

.form-text {
  margin-left: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.form-label {
  font-size: 20px;
  margin-bottom: 10px;
}

.form-input {
  border: 2px solid #a9a9a9;
  padding: 12px 0px;
  width: 500px;
  font: inherit;
}

.errors {
  color: red;
  font-weight: bold;
  margin: 10px 0px;
}

.form-submit {
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-size: 15px;
  font-weight: 700;
  margin: 15px 0 20px;
  padding: 18px 8px;
  background-color: #4682b4;
  color: white;
}

.form-submit:hover {
  opacity: 0.5;
}

.form-mypage {
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-size: 15px;
  font-weight: 700;
  margin: 15px 0 20px;
  padding: 18px 8px;
  background-color: #a9a9a9;
  color: white;
}

.form-mypage:hover {
  opacity: 0.5;
}
