.wrapper {
  width: 100%;
}

.count {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.search {
  text-align: center;
  margin-bottom: 20px;
}

.search-text {
  height: 40px;
  background-color: #f0f8ff;
  border: 2px solid #a9a9a9;
  font-size: 20px;
  border-radius: 5px;
}

.bs-search {
  color: palevioletred;
  margin-right: 4px;
  font-size: 29px;
  vertical-align: -5px;
}

.detail-result {
  text-align: center;
  margin-top: 80px;
  font-weight: bold;
  font-size: 25px;
}

.main-content {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 540px) {
  .count {
    font-size: 13px;
  }
}
