.wrapper {
  width: 100%;
}

.title {
  font-size: 17px;
  padding: 15px;
  font-weight: bold;
}

.home {
  align-items: center;
  margin-right: 5px;
}

.home-link {
  vertical-align: middle;
  color: rgba(92,102,111,0.6);
}

.home-link:hover {
  opacity: 0.5;
}

.react-icons {
  vertical-align: -3px;
  margin-right: 3px;
}

.comic-title {
  align-items: center;
  margin-left: 5px;
}

.link {
  text-decoration: none;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 20px;
  font-size: 15px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
}

.link:hover {
  background-color: pink;
}

.main-content {
  padding: 121px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: 31%;
}

.innner-content {
  border: 2px solid #a9a9a9;
  background: #f0f8ff;
  margin-bottom: 10px;
}

.outer-image {
  height: 240px;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.list {
  padding: 15px;
  width: 100%;
}

.detail-area {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.detail {
  text-align: center;
  margin-bottom: 10px;
}

.bs-book-fill {
  color: blue;
  font-size: 16px;
  vertical-align: -4px;
}

.bs-journal-book-mark-fill {
  color: green;
  font-size: 16px;
  vertical-align: -4px;
}

.link-list {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.link-show {
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-size: 15px;
  font-weight: 700;
  margin: 20px 20px;
  padding: 11px 12px;
  background-color: #4682b4;
  color: white;
}

.link-show:hover {
  opacity: 0.5;
}

.link-edit {
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-size: 15px;
  font-weight: 700;
  margin: 20px 20px;
  padding: 11px 12px;
  background-color: #a9a9a9;
  color: white;
}

.link-edit:hover {
  opacity: 0.5;
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
  .main-content {
    padding: 10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  .content {
    width: 48%;
  }
}

@media screen and (max-width: 540px) {
  .main-content {
    padding: 10px;
    display: block;
  }

  .title {
    font-size: 13px;
  }

  .content {
    width: 100%;
    font-size: 13px;
  }

  .link-list {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
