.wrapper {
  width: 100%;
}

.count {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.sort {
  margin-left: 20px;
}

.search {
  text-align: center;
  margin-bottom: 20px;
}

.search-text {
  height: 40px;
  background-color: #f0f8ff;
  border: 2px solid #a9a9a9;
  font-size: 20px;
  border-radius: 5px;
}

.fc-search {
  margin-right: 4px;
  font-size: 32px;
  vertical-align: -7px;
}

.react-icon {
  font-size: 24px;
  vertical-align: -6px;
  margin-right: 1px;
}

.detail-result {
  text-align: center;
  margin-top: 80px;
  font-weight: bold;
  font-size: 25px;
}

.title {
  font-size: 17px;
  padding: 15px;
  font-weight: bold;
}

.home {
  align-items: center;
  margin-right: 5px;
}

.home-link {
  vertical-align: middle;
  color: rgba(92,102,111,0.6);
}

.home-link:hover {
  opacity: 0.5;
}

.react-icons {
  vertical-align: -3px;
  margin-right: 3px;
}

.comic-title {
  align-items: center;
  margin-left: 5px;
}

.link {
  text-decoration: none;
  background-color: #f0f8ff;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 20px;
  font-size: 15px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
}

.link:hover {
  background-color: pink;
}

.main-content {
  padding: 30px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: 32%;
}

.innner-content {
  border-radius: 10px;
  border: 2px solid #a9a9a9;
  background: #f0f8ff;
  margin-bottom: 10px;
}

.outer-image {
  height: 200px;
  width: 100%;
}

.image {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.list {
  padding: 15px;
  width: 100%;
}

.detail-area {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.detail {
  color: #ff8c00;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.link-list {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.link-show {
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-size: 15px;
  font-weight: 700;
  padding: 14px 6px;
  background-color: #4682b4;
  color: white;
}

.link-show:hover {
  opacity: 0.5;
}

.link-edit {
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-size: 15px;
  font-weight: 700;
  padding: 14px 6px;
  margin-left: 20px;
  background-color: #a9a9a9;
  color: white;
}

.link-edit:hover {
  opacity: 0.5;
}

.create-at {
  text-align: center;
  margin: 20px 0px;
}

.detail-text {
  width: fit-content;
  border-bottom: 2px solid #a9a9a9;
}

.detail-area-count {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.detail-area-list {
  width: 100%;
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
  .main-content {
    padding: 10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  .content {
    width: 48%;
  }
}

@media screen and (max-width: 540px) {
  .main-content {
    padding: 10px;
    display: block;
  }

  .title {
    font-size: 13px;
  }

  .content {
    width: 100%;
    font-size: 13px;
  }

  .react-icon {
    font-size: 17px;
    vertical-align: -4px;
  }

  .link-list {
    padding: 7px;
    margin-bottom: 20px;
    text-align: center;
  }

  .link-show {
    font-size: 13px;
    padding: 10px 6px;
  }

  .link-edit {
    font-size: 13px;
    margin-left: 20px;
    padding: 10px 6px;
  }
}
