* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  background-color: #f2f1dd;
  width: 100%;
  position: relative;
  padding-bottom: 120px;
  height: 100%;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  * {
    font-size: 13px;
  }
}
