.wrapper {
  width: 100%;
}

.title {
  font-size: 17px;
  padding: 15px;
  font-weight: bold;
}

.home {
  align-items: center;
  margin-right: 5px;
}

.home-link {
  vertical-align: middle;
  color: rgba(92,102,111,0.6);
}

.home-link:hover {
  opacity: 0.5;
}

.react-icons {
  vertical-align: -3px;
  margin-right: 3px;
}

.main-content {
  padding: 30px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: 49%;
  margin-top: 20px;
}

.innner-content {
  display: flex;
  border: 2px solid #a9a9a9;
  background-color: #f0f8ff;
  margin-bottom: 10px;
  font-weight: bold;
}

.user-name {
  margin-bottom: 10px;
}

.user-image {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  vertical-align: middle;
  margin-right: 20px;
}

.detail-area {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.detail {
  text-align: center;
  margin-bottom: 10px;
}

.bs-book-fill {
  color: blue;
  font-size: 16px;
  vertical-align: -4px;
  margin-right: 3px;
}

.bs-journal-book-mark-fill {
  color: green;
  font-size: 16px;
  vertical-align: -4px;
  margin-right: 3px;
}

.detail-area-link {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.link-show {
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-size: 15px;
  font-weight: 700;
  margin: 20px 20px;
  padding: 14px 24px;
  background-color: #4682b4;
  color: white;
}

.link-show:hover {
  opacity: 0.5;
}

.outer-image {
  height: 375px;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.list {
  padding: 15px;
  width: 100%;
}

.detail-area-favorite {
  display: inline;
}

.favorite {
  border: none;
  background-color: #f0f8ff;
  vertical-align: -3px;
  margin-right: 3px;
  font-size: 22px;
}

.unfavorite {
  border: none;
  background-color: #f0f8ff;
  vertical-align: -3px;
  margin-right: 3px;
  color: #ffd700;
  font-size: 22px;
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
  .main-content {
    padding: 10px;
  }

  .content {
    width: 49%;
  }

  .detail-area {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .detail-area-link {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .link-show {
    border-radius: 5px;
    box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
    font-size: 15px;
    margin: 10px;
    padding: 9px 16px;
  }

  .outer-image {
    height: 315px;
  }

  .list {
    padding: 15px;
  }
}

@media screen and (max-width: 540px) {
  .title {
    font-size: 13px;
  }

  .react-icons {
    vertical-align: -1px;
    margin-right: 3px;
  }

  .main-content {
    font-size: 13px;
    padding: 10px;
    display: block;
  }

  .content {
    width: 100%;
    margin-top: 20px;
  }

  .user-name {
    margin-bottom: 8px;
  }

  .user-image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .detail-area {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .detail {
    margin-bottom: 4px;
  }

  .bs-book-fill {
    font-size: 15px;
    vertical-align: -2.5px;
    margin-right: 2px;
  }

  .bs-journal-book-mark-fill {
    font-size: 15px;
    vertical-align: -2.5px;
    margin-right: 2px;
  }

  .detail-area-link {
    margin-top: 20px;
  }

  .link-show {
    margin: 9px;
    padding: 7px;
    font-size: 13px;
  }

  .outer-image {
    height: 255px;
  }

  .list {
    padding: 10px;
  }
}
